html{
	font:normal normal 12px "Microsoft YaHei",sans-serif;
	color: black;
	}
body,ul,ol,dl,p,h1,h2,h3,h4,h5{
	margin:0;
	padding:0;
	list-style: none;
	
	}
 a{
 	color: black;
	text-decoration: none;
 }
