@font-face {
  font-family: 'iconfont';  /* project id 797586 */
  src: url('http://at.alicdn.com/t/font_797586_uypslouwj7b.eot');
  src: url('http://at.alicdn.com/t/font_797586_uypslouwj7b.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_797586_uypslouwj7b.woff') format('woff'),
  url('http://at.alicdn.com/t/font_797586_uypslouwj7b.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_797586_uypslouwj7b.svg#iconfont') format('svg');
}
.yconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}